.textnames
	{
	color: #000099;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.4em;
	line-height: 1.3;
	}
.lists
	{
	padding-left: 50px;
	color: #000099;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.4em;
	line-height: 1.3;
	}
a
	{
	text-decoration: none;
	color: #000099;
	font-family: "Times New Roman", Times, serif;
	}